<div class="background">
  <h2>Sign up</h2>
  <div class="container" style="padding-bottom: 32px;">
    <div class="row justify-content-center">
      <div class="col-md-auto" style="background-color: white; border-radius: 4px;">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-group" style="padding: 16px;">
            <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
            <%= f.input :first_name, required: true, label: "First name" %>
            <%= f.input :last_name, required: true, label: "Last name" %>
            <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
            <%= f.input :photo, as: :file, label: 'Select an avatar' %>
          </div>
          <div class="form-actions" style="padding: 16px;">
            <%= f.button :submit, "Sign up", class: "standard-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "devise/shared/links" %>
