<div class="my-bookings-container">
  <div class="user-profile">
    <div class="user">
      <% if current_user.photo.attached?  %>
        <%= cl_image_tag current_user.photo.key%>
      <% else %>
        <%= image_tag "no-avatar.jpg" %>
      <% end %>
      <div class="user-name">
        <h2><%= @user.first_name %></h2>
        <h2><%= @user.last_name %></h2>
      </div>
    </div>
    <div class="profile-breaker"></div>
    <div class="user-info">
      <p><%= current_user.description %></p>
    </div>
    <div class="profile-breaker"></div>
    <div class="logo">
      <div class="bar"></div>
      <%= image_tag "chefvector.png" %>
      <div class="bar"></div>
    </div>
  </div>
  <div class="user-bookings">
    <h3>Find details about your upcoming bookings below</h3>
    <p style="margin-bottom: 30px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, vero explicabo! Mollitia nesciunt ipsam officia beatae quas placeat molestias laboriosam.</p>
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <%= cl_image_tag(booking.course.photos[0].key, :width => 200, :height => 400) %>
        <div class="card-product-infos">
          <h2><%= link_to "#{booking.course.title} Course", course_path(booking.course) %></h2>
          <p><%= booking.start_time %></p>
          <p><%= booking.course.description %></p>
          <p>For <%= pluralize booking.attendees, "person" %></p>
        </div>
        <div class="chef-status">
          <% if booking.course.user.photo.attached?  %>
            <%= cl_image_tag booking.course.user.photo.key%>
          <% else %>
            <%= image_tag "no-avatar.jpg" %>
          <% end %>
          <p class="booking-status">Status: <span style= "color: #D9BD54;"><%= booking.status.capitalize %></span></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!--   create_table "bookings", force: :cascade do |t|
    t.integer "attendees"
    t.datetime "start_time"
    t.datetime "end_time"
    t.string "location"
    t.bigint "user_id", null: false
    t.bigint "course_id", null: false
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.string "status", default: "pending"
    t.index ["course_id"], name: "index_bookings_on_course_id"
    t.index ["user_id"], name: "index_bookings_on_user_id"
  end -->
<!-- create_table "courses", force: :cascade do |t|
    t.string "title"
    t.text "description"
    t.string "price"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.bigint "user_id", null: false
    t.index ["user_id"], name: "index_courses_on_user_id"
  end -->
