<h1>Create a Booking</h1>

<div class="booking-container">
  <%= simple_form_for [@course, @booking] do |f| %>
    <%= f.input :location %>
    <%= f.input :attendees %>
    <%= f.input :start_time, as: :datetime, html5: true%>
    <%= f.input :end_time, as: :datetime, html5: true%>
    <%= f.submit "Complete Booking" %>
  <% end %>
</div>
