<div class="home-video-wrapper">
  <div class="dark-cover">
    <%= video_tag "sprinkle.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  </div>

  <h1 class="home">Turn Your Kitchen Into Your Next Favourite Restaurant</h1>
  <p class="description">Book our personal chef service for <span id="typed"></span></p>


  <div class="banner-button">
    <%= link_to courses_path do %>
      <i class='bx bxs-dish dish'></i>
      <p>Take a look</p>
    <% end %>
  </div>
</div>

<div class="landing-info" id="how-does-it-work">
  <h2 data-aos="fade-up" data-aos-duration="1000">how does it work?</h2>
  <div class="info-header" data-aos="fade-up" data-aos-duration="1000">
    <div class="info-header-bar"></div>
    <%= image_tag "chefvector.png", {class: "logo-info"} %>
    <div class="info-header-bar"></div>
  </div>

  <div class="info-cards-container">

    <div class="card card-1" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon green">
        <i class='bx bx-laptop'></i>
      </div>

      <div class="card-info size">
        <h2>Sign Up</h2>
        <div>
          <p>Complete our sign up process with your personal information, it's quick and easy!
          </p>
        </div>
      </div>
    </div>

    <div class="card card-2" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon green">
        <i class='bx bx-dish' ></i>
      </div>

      <div class="card-info size">
        <h2>Browse</h2>
        <div>
          <p>Browse through our chef's best creations and choose thw course you like the most.
          </p>
        </div>
      </div>
    </div>

    <div class="card card-3" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon green">
        <i class='bx bx-calendar-check' ></i>
      </div>

      <div class="card-info size">
        <h2>Book</h2>
        <div>
        <p>Complete and send the booking form on the course page and our chef will get in touch with you to approve the booking request.
        </p>
        </div>
      </div>
    </div>

    <div class="card card-4" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon green">
        <i class='bx bx-calendar-heart'></i>
      </div>

      <div class="card-info size">
        <h2>Enjoy</h2>
        <div>
          <p>Get ready for a unique experience!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="landing-info bottom" id="how-does-it-work">
  <h2 data-aos="fade-up" data-aos-duration="1000">I am a chef</h2>
  <div class="info-header" data-aos="fade-up" data-aos-duration="1000">
    <div class="info-header-bar"></div>
    <%= image_tag "chefvector.png", {class: "logo-info"} %>
    <div class="info-header-bar"></div>
  </div>

  <div class="info-cards-container">

    <div class="card card-1" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon gold">
        <i class='bx bx-laptop'></i>
      </div>

      <div class="card-info size">
        <h2>Sign Up</h2>
        <div>
          <p>Fill up the sign up form with your personal details and what you would like your clients to know about you and your skills.
          </p>
        </div>
      </div>
    </div>

    <div class="card card-2" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon gold">
        <i class='bx bx-dish' ></i>
      </div>

      <div class="card-info size">
        <h2>Create</h2>
        <p>Show off your skills by creating inviting and tempting meal courses.
        </p>
      </div>
    </div>

    <div class="card card-3" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon gold">
        <i class='bx bx-calendar-check' ></i>
      </div>

      <div class="card-info size">
        <h2>Reservations</h2>
        <p>Receive and manage reservations via your personal My Courses page.
        </p>
      </div>
    </div>

    <div class="card card-4" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-icon gold">
        <i class="fas fa-utensils"></i>
      </div>

      <div class="card-info size">
        <h2>Cook</h2>
        <p>Do what you do best!
        </p>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag "courses-index" %>
<%= javascript_pack_tag "homepage" %>
