<div class="cont">
  <div class="header">
    <h2>Browse Through Our Chefs Best Creations For Inspiration</h2>
    <p>or filter results according to your favourite cuisine.</p>
  </div>
  <div class="search-filters">
    <%= form_tag courses_path, method:"GET", class: 'form-inline' do %>
      <div class="form-group">
      <%= label_tag 'category', "Select a cuisine:" %>
      <%= select_tag :categories, options_for_select(Course::CATEGORIES), include_blank: "Select", class: 'form-control' %>
      </div>
      <div class="form-group">
      <%= label_tag 'ingredients', "Other options:", for: 'inputCategory' %>
      <%= select_tag :categories, options_for_select(Course::INGREDIENTS), include_blank: "Select", class: 'form-control' %>
      </div>
      <%= submit_tag "Apply", class: "btn btn-primary" %>
      <%= link_to "Reset", courses_path, class: "btn btn-danger" %>
    <% end %>
  </div>
  <div class="courses">
    <% @courses.each do |course| %>
      <%= link_to  course_path(course) do%>
        <div class="course_card" style="background-image: url(<%= course.photos.attached? ? cl_image_path(course.photos[0].key) : 'https://picsum.photos/300/300' %>)" >
          <div class="text-overlay">
            <div class="c-title">
              <h3><%= course.title %></h3>
              <p><%= course.user.first_name %></p>
            </div>
            <div>
              <% course.category_list.each do |t| %>
                <p class="tag"><%= t %></p>
              <% end %>
              <% course.ingredient_list.each do |t| %>
                <p class="tag"><%= t %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
