<div class="background">
  <div class="header">
    <div class="header-overlay">
      <div class="header-title">
        <h2>Browse Through Our Chefs Best Creations For Inspiration</h2>
        <p>or filter results according to your favourite cuisine.</p>
      </div>
      <div class="search-filters form-row">
        <%= form_tag courses_path, method:"GET", class: 'form-inline' do %>
          <div class="form-group">
            <%= label_tag 'category', "Pick your fancy:", class: 'label' %>
            <%= select_tag :categories, options_for_select(Course::CATEGORIES), include_blank: "Select an option", class: 'form-control' %>
            <%= label_tag 'ingredients', "For the more sophisticated:", class: 'label' %>
            <%= select_tag :ingredients, options_for_select(Course::INGREDIENTS), include_blank: "More options in here", class: 'form-control' %>
          </div>
          <div class="buttons">
            <%= submit_tag "Search", class: "search-btn" %>
            <%= link_to "Cancel", courses_path, class: "reset-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="courses">

    <%= render 'components/course_card' %>

  </div>
</div>
<%= javascript_pack_tag "courses-index" %>
